<h1 style="text-align: center;">Experiment 1</h1>

<h4> Aim : Introduction to python programming for data analytics</h4>

In [1]:
print(5)

5

In [2]:
a = 3
b = "hi"
c = 2.233

In [3]:
a = 3
b = "hi"
c = 2.233

In [4]:
print(a, b, c)

3 hi 2.233

In [5]:
print(type(a), type(b), type(c))

<class 'int'> <class 'str'> <class 'float'>

In [6]:
a,b,c

(3, 'hi', 2.233)

<h5>           Operator </h5>

In [7]:
n1 = 5
n2 = 6

print(n1 + n2)
print(n1 - n2)
print(n1 * n2)
print(n1 / n2)
print(n1 // n2)
print(n1 % n2)
print(n1 ** n2)

11
-1
30
0.8333333333333334
0
5
15625

<h5>           Condition </h5>

In [8]:
if n1 > n2 :
   print(n1 , ":n1 is big")
elif n1< n2 :
   print(n2, ":n2 is big")
elif (n1 is n2):
   print("Both are equal")

6 :n2 is big

<h5>           Loop  </h5>

In [9]:
for i in range(5):
    print(i)

0
1
2
3
4

In [10]:
i = 0
while i < 5:
    print(i)
    i += 1

0
1
2
3
4

<h5>           Composite data type </h5>

In [11]:
#mutable : List

arr  = [1,24, "hii", 221.13]
print(arr)

for i in arr:
    print(i)

[1, 24, 'hii', 221.13]
1
24
hii
221.13

In [12]:
#immutable : Tuple

tp = (1,24, "hii", 221.13)
print(tp)

for i in tp:
    print(i)

(1, 24, 'hii', 221.13)
1
24
hii
221.13

In [13]:
# key value pair : Dictionary
kv = {"name":"sai", "age":24, "city":"hyd"}
print(kv)

for k,v in kv.items():
    print(k, ":", v)

{'name': 'sai', 'age': 24, 'city': 'hyd'}
name : sai
age : 24
city : hyd

In [14]:
arr

[1, 24, 'hii', 221.13]

In [15]:
arr[0:-1:2]

[1, 'hii']

<h5>           Function </h5>

In [16]:
def sum (a, b):
   return a+b

sum(2,3)

5

In [17]:
def rec(n):
   if n< 0:
      print("n should be greater than 0")
   elif n==0 or n==1:
      return 1
   else:
      return n*rec(n-1)

print(rec(5))

120

<h5>           Numpy </h5>

In [ ]:
!pip install numpy

In [ ]:
import numpy as np

In [ ]:
arr = np.array([1,2,3,4,5])

In [ ]:
arr

In [ ]:
arr[1]

In [ ]:
arr[-1]

In [ ]:
arr[1:-1]

In [ ]:
arr[2:]

In [ ]:
b = np.array([[1,2,3],[4,5, 6],[7,8,9]])

In [ ]:
b

In [ ]:
b[0,2]

In [ ]:
b[0:2, 0]

In [ ]:
b[1, :]

In [ ]:
b[1:, 1:]

In [ ]:
b.shape

<h5>           matrix operation </h5>

In [ ]:
c = np.array([[1,2,4],[4,5, 6],[6,8,9]])

In [ ]:
c

In [ ]:
b+ c

In [ ]:
b-c

In [ ]:
b*c

In [ ]:
b/c

In [ ]:
np.dot(b,c)

In [ ]:
np.transpose(b)

In [ ]:
np.cross(b,c)

In [ ]:
np.sin(b)

In [ ]:
np.exp(b)

In [ ]:
np.log(b)