<h1 style="text-align: center;">Experiment 10</h1>

<h4> Aim : To perform basic Web-Scraping tasks using the Beautiful soup package in Python.</h4>

In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import re

In [2]:
uri = 'https://www.nike.com/in/w/mens-shoes-nik1zy7ok'
data  = requests.get(uri)

In [3]:
soup = BeautifulSoup(data.content, 'html.parser')

In [4]:
product_names = soup.find_all('div', {'class' :  'product-card__titles'})
name_items = [i.text for i in product_names]

In [5]:
name_items

["Nike Air Force 1 '07 LV8Men's Shoes",
 "Nike Air Max 1 SEMen's Shoe",
 "Nike Dunk Low Retro SEMen's Shoes",
 "Jordan Stadium 90Men's Shoes",
 "Nike Dunk Low RetroMen's Shoe",
 "Nike Air Force 1 '07Men's Shoes",
 "Nike Air Max 1Men's shoes",
 'Nike V2K RunShoes',
 "Nike Air Force 1 '07 LXMen's Shoes",
 "Nike Air Dunk Low JumboMen's Shoes",
 "Nike Air Max IshodMen's Shoes",
 'Book 1 EPBasketball Shoes',
 "Nike CortezMen's Shoes",
 "NOCTA Zoom DriveMen's Shoes",
 "Air Jordan 1 Low SEMen's Shoes",
 "Nike Revolution 7 EasyOnMen's Road Running Shoes",
 "Nike Court Vision Low Next NatureMen's Shoes",
 "Air Jordan 1 Low SE CraftMen's Shoes",
 "Nike Air Force 1 '07 FreshMen's Shoes",
 "Air Jordan 1 Low SEMen's Shoes",
 'Nike Court Vision LowShoes',
 "Nike Air Max 97Men's Shoes",
 "Jumpman MVPMen's Shoes",
 "Jordan Stay Loyal 3Men's shoes"]

In [6]:
prices = soup.find_all('div', {'class' : 'product-price'})
prices_items = [float(i.text.split()[3] + i.text.split()[4]) for i in prices]

In [7]:
prices_items

[10795.0,
 13995.0,
 10795.0,
 12795.0,
 8295.0,
 7495.0,
 12795.0,
 10795.0,
 11895.0,
 11495.0,
 9695.0,
 12795.0,
 9695.0,
 15295.0,
 10295.0,
 3695.0,
 4995.0,
 10295.0,
 11295.0,
 10295.0,
 4995.0,
 16995.0,
 15295.0,
 10295.0]

In [8]:
df = pd.DataFrame(columns=['items', 'price'])
df['items' ] = name_items
df['price'] = prices_items

In [9]:
df

                                               items    price
0                Nike Air Force 1 '07 LV8Men's Shoes  10795.0
1                        Nike Air Max 1 SEMen's Shoe  13995.0
2                  Nike Dunk Low Retro SEMen's Shoes  10795.0
3                       Jordan Stadium 90Men's Shoes  12795.0
4                      Nike Dunk Low RetroMen's Shoe   8295.0
5                    Nike Air Force 1 '07Men's Shoes   7495.0
6                          Nike Air Max 1Men's shoes  12795.0
7                                  Nike V2K RunShoes  10795.0
8                 Nike Air Force 1 '07 LXMen's Shoes  11895.0
9                 Nike Air Dunk Low JumboMen's Shoes  11495.0
10                     Nike Air Max IshodMen's Shoes   9695.0
11                         Book 1 EPBasketball Shoes  12795.0
12                            Nike CortezMen's Shoes   9695.0
13                       NOCTA Zoom DriveMen's Shoes  15295.0
14                    Air Jordan 1 Low SEMen's Shoes  10295.0
15  Nike Revolution 7 EasyOnMen's Road Running Shoes   3695.0
16      Nike Court Vision Low Next NatureMen's Shoes   4995.0
17              Air Jordan 1 Low SE CraftMen's Shoes  10295.0
18             Nike Air Force 1 '07 FreshMen's Shoes  11295.0
19                    Air Jordan 1 Low SEMen's Shoes  10295.0
20                        Nike Court Vision LowShoes   4995.0
21                        Nike Air Max 97Men's Shoes  16995.0
22                            Jumpman MVPMen's Shoes  15295.0
23                    Jordan Stay Loyal 3Men's shoes  10295.0

In [10]:
df.to_csv("./nike_shoes.csv")